html, body {
    background-color: #000;
    height: 100%;
}

body {
    background-image: url('../img/Background.jpg');
    background-repeat: no-repeat;
    background-position: center 40px;
    background-color: #000;
}

.container {
    width: 840px;
}
.content {
    padding: 60px 20px 10px 20px;
    margin: 0 -20px;

    opacity: .9;
    color: #000;
    background-color: #fff;
    
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.login p {
    margin-bottom: -10px;
    color: white;
    margin-left: 5px;
}

.login img {
    margin-top: 2px;
}

a.btn {
    color: #333;
}
.content a.btn {
    color: #000;
}
.content td .btn {
    padding: .25em .5em;
}
.content table.actionTable td:first-child {
    font-size: 1.2em;
    padding: .85em 1em .85em;
}
.btn.tbtn {
    padding: .4em 1em .35em;
}

.qa p {
    margin-bottom: 1.5em;
}

footer {
    width: 865px;
    margin: 40px auto;
    padding: 10px 0 10px 15px;
    
    opacity: .8;
    color: #aaa;
    background-color: #000;
    border: none;
    border-radius: .5em;
    
    
}
footer p {
    margin: 0;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #0af;
}

.content h2 {
    margin: 0em .5em .5em 0;
}
