<head>
    <meta charset="utf-8" />
    <title>Battlefield Goons - {% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link href="{{ STATIC_URL }}css/Stairs.css" rel="stylesheet" type="text/css" />

    <script src="{{ STATIC_URL }}js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/modernizr-1.7.min.js" type="text/javascript"></script>
</head>
