{% extends "base.html" %}

{% block pagetitle %}Add a Soldier{% endblock %}

{% block soldier_active %}active{% endblock %}

{% block main_content %}
<ul class="tabs">
    <li class="active"><a href="/soldiers/">My Soldiers</a></li>
    <li class=""><a href="/recent/">Recently Added</a></li>
</ul>

<p class="pull-right"><a Class="btn" href="/soldier/add">Add a soldier</a></p>
<h2>Add a Soldier</h2>

<p>Enter the soldier name you want to give priority server access. You can add up to three soldiers per Steam account.</p>
<form action='soldier/add/' method='post'>{% csrf_token %}
    <input PlaceHolder="Origin Name" id='user_name' name='user_name', type='text' value='' />
    <input type='submit' class='btn tbtn' value='Add' />
</form>

{% endblock %}
