<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8" />
    <title>Battlefield Goons - {% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link href="{{ STATIC_URL }}css/Stairs.css" rel="stylesheet" type="text/css" />

    <script src="{{ STATIC_URL }}js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/modernizr-1.7.min.js" type="text/javascript"></script>
</head>
 
    {% block body %}
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">Battlefield Goons</a>
                    <ul class="nav">
                        <li class="{% block info_active %}{% endblock %}"><a href="/">Information</a></li>
                        <li class="{% block soldier_active %}{% endblock %}"><a href="/soldiers">Soldiers</a></li>
                    </ul>
                    <div class="login pull-right">
                        {% if user.is_authenticated %}
                        <p><img src="{{ steam_user.avatar_small }}" /> Logged in as {{ steam_user.steam_name }} <a class="" href="/logout">(logout)</a></p>
                        {% else %}
                        <a class="poop" href="openid/login/">Log In</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="maincontainer">
            <div class="content">
            {% block main_content %}
            {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% include "_footer.html" %}

    </body>
</html>
