{% extends "base.html" %}

{% block info_active %}active{% endblock %}

{% block pagetitle %}Failure.{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1>Goon Registration</h1>
    </div>

    <div class="row">
        <div class="span14">
            <h2>You're not signed in</h2>
            <p><a class="btn" href="openid/login/">Sign in with Steam</a>
            &nbsp; - You need to do this to use this website.
            </p>

            <hr />

            <h3>You are not in any of the steam groups we check for.</h3>
            <div class="qa">
                <p><strong>Why do I need to sign in with Steam?</strong><br />
                To prove you're a goon, or that you know one.
                </p>
                <p><strong>Why Steam?</strong><br />
                Origin doesn't have an API. Also, Origin sucks.
                Finally, this might theoretically be used for other games in the future.
                </p>
                <p><strong>How does this prove I'm a goon?</strong><br />
                You can only sign in if you're in one of a set of approved private Steam groups, including 
                <a href="http://steamcommunity.com/groups/battlefieldgoons">Battlefield Goons</a> and 
                <a href="http://steamcommunity.com/groups/knifebackmountain">Knifeback Mountain</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
