{% extends "base.html" %}

{% block pagetitle %}Please log in {% endblock %}

{% block info_active %}active{% endblock %}


{% block main_content %}
    <div class="page-header">
        <h1>Goon Registration</h1>
    </div>

    <div class="row">
        <div class="span14">
            <h2>Set up your Battlefield 3 Soldiers</h2>
            <p>You can give yourself and a couple of friends priority access to goon Battlefield 3 servers by registering your soldier names.</p>
            
            <p>
                <a class="btn" href="/soldiers">Manage my Soldiers</a>
                <a class="btn" href="/soldier/add">Add a soldier</a>
            </p>
            <h2>Important Note</h2>
            <p>Certain additional functionality is Coming Soon&trade; while we work out how Battlefield 3's engine works
            (and how we can horribly abuse it). In the meantime, it might take a short while for your registration to apply.</p>
        </div>
    </div>

{% endblock %}
