{% extends "base.html" %}

{% block pagetitle %}Privacy Statement{% endblock %}

{% block info_active %}active{% endblock %}


{% block main_content %}
    <div class="page-header">
        <h1>Goon Registration</h1>
    </div>

    <div class="row">
        <div class="span14">
            <h2>Privacy Information</h2>
            <p>This page is required by the Steam API license agreement, and should not be taken as an indication that we have made any effort whatsoever to protect your data, or that we won't sell it to advertisers given the chance to make a few bucks.</p>
            <hr />

            <h3>What we collect</h3>
            <p>Your Steam account's unique numerical identifier, your current Steam Community display name at the time of first login, and the names of any Battlefield 3 soldiers you register with this service.</p>
            <hr />

            <h3>How we store it</h3>
            <p>In a database. The password's pretty long, so it's probably safe.</p>
            <hr />

            <h3>Extra precautions we've taken</h3>
            <p>The rack the server's in presumably has some sort of lock. We also sometimes remember to run Windows Update.</p>

        </div>
    </div>

{% endblock %}
