{% extends "base.html" %}

{% block pagetitle %}Recent Soldiers{% endblock %}

{% block soldier_active %}active{% endblock %}

{% block main_content %}
<ul class="tabs">
    <li class=""><a href="/soldiers/">My Soldiers</a></li>
    <li class="active"><a href="/recent/">Recently Added</a></li>
</ul>

<p class="pull-right"><a Class="btn" href="/soldier/add">Add a soldier</a></p>
<h2>Recently Added</h2>

<table class="actionTable">
    <tr>
        <th>
            Soldier
        </th>
    </tr>
    {% for soldier in recent %}
    <tr>
        <td>
            {{ soldier.user_name }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
